@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700,700i,800,800i');

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

.logo {
  max-width: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  color: #3E337F;
  font-weight: 800;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

h2, h3, h4 {
  font-family: 'Work Sans', sans-serif;
  color: #00d8d8;
  text-align: center;  
  font-weight: 700;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.content-line {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.line{
  width: 120px;
  height: 5px;
  margin-top: 10px;
  background-color: #00d8d8;
}

.size-icon {
  font-size: 2em;
  color: #00d8d8;
}

p {
  text-align: justify;
  font-weight: 300;
  font-style: normal;
  color: #595959;
  font-size: 18px;
}

.full-height {
  min-height: 100vh;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-wrapper {
  background-color: #3E337F;
}
/*05d2c3 medalla*/
.presentation {
  background-image: url('../images/about.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  position: relative;
}

.overlay {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  opacity: 0.4;
}

.presentation h5 {
  text-align: center;
  color: #fff;
}

.content-presentation {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.content-presentation .btn-floating{
  margin-top: 100px;
}

.photo {
  max-width: 500px;
  max-height: 400px;
  width: 100%;
}

.recognition {
  text-align: center;
}

.recognition-image {
  max-width: 200px;
  margin: 0 auto;
}

.team-image {
  width: 300px;
  margin: 0 auto;
}

.seccion-icons {
  color: #00d8d8;
}

.section-skill {
  text-align: center;
  padding: 2px !important;
}
.section-skill-title { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio .divider {
  margin-top: 70px;
  margin-bottom: 70px;
}

.portfolio-details {
  
}

.portfolio-buttons {
  padding-top: 10px;
}

.contact {
  font-size: 28px;
}

.contact a {
  color: #595959;
}

.contact a:hover {
  color: #3E337F;
}

.div-info {
  margin-bottom: 0;
  padding-bottom: 45px;
}

.div-about, .div-skills, .div-portfolio, .div-contact {
  padding-top: 64px;
}

.background-dark {
  background-color: #eceff1;
}

.page-footer {
  background-color: #3E337F;
  text-align: center;
}

.mobile-buttom-menu{
  margin-left: 10px;
}

@media(max-width: 600px) {
  .contact {
    font-size: 14px;
  }
  .logo {
    margin-left: 0;
    margin-top: 5px;
  }
}